@using aspnet_boilerplate_mvc.Entities;
@model UserModel
@{
    ViewData["Title"] = "New/Edit User";
    Layout = "~/Views/Shared/_MainLayout.cshtml";

}
<div class="container-fluid">
    <div class="row mt-4">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="breadcrumb-item"><a asp-controller="User" asp-action="Index">Users</a></li>
                    <li class="breadcrumb-item active" aria-current="page">New/Edit User</li>
                </ol>
            </nav>
        </div>
    </div>

    <div class="col-md-6 offset-md-3">
        <form method="post">
            <div class="card">
                <div class="card-body">
                    <h4 class=card-title>New/Edit User</h4>
                    <hr />
                    <div class="row mb-3">
                    <div class="col-6">
                        <label>Name</label>
                        <input asp-for="@Model.user.Name" class="form-control" />
                        <span asp-validation-for="@Model.user.Name" class="text-danger"></span>
                    </div>
                    <div class="col-6">
                        <label>Surname</label>
                        <input asp-for="@Model.user.Surname" class="form-control" />
                        <span asp-validation-for="@Model.user.Surname" class="text-danger"></span>
                    </div>
                    </div>
                    <div class="row mb-3">
                    <div class="col-6">
                        <label>Email</label>
                        <input asp-for="@Model.user.Email" class="form-control" />
                        <span asp-validation-for="@Model.user.Email" class="text-danger"></span>
                    </div>
                    <div class="col-6">
                        <label>Phonenumber</label>
                        <input asp-for="@Model.user.Phone" class="form-control" />
                        <span asp-validation-for="@Model.user.Phone" class="text-danger"></span>
                    </div>
                    </div>
                   
                    <div class="row mb-3">
                    <div class="col-6">
                        <label>Select Role</label>
                        <select asp-for="@Model.user.RoleId" class="form-control">
                            <option></option>
                             @foreach (var item in Model.Roles)
                            {
                              <option value="@item.Id">@item.Name</option>    
                            }
                        </select>
                        <span asp-validation-for="@Model.user.RoleId" class="text-danger"></span>
                    </div>
                        <div class="col-6">
                            <label>Select Gender</label>
                            <select asp-for="@Model.user.Gender" class="form-control">
                                <option value="M">M</option>
                                <option value="F">F</option>
                               
                            </select>
                            <span asp-validation-for="@Model.user.Gender" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" asp-for="@Model.user.Enable">
                            <label class="form-check-label" for="defaultCheck1">
                                Account Enabled
                            </label>
                        </div>
                        <span asp-validation-for="@Model.user.Enable" class="text-danger"></span>
                    </div>
                </div>
                <input type="hidden" asp-for="@Model.user.Id"/>
                <div class="card-footer d-flex justify-content-between">
                    <a asp-controller="User" asp-action="Index" class="btn btn-outline-danger"> Back</a>
                    <button type="submit" class="btn btn-primary">Submit</button>

                </div>
            </div>


        </form>
    </div>
</div>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
 }
