@using aspnet_boilerplate_mvc.Entities;
@model User
@{
    ViewData["Title"] = "Reset Password";
    Layout = "~/Views/Shared/_MainLayout.cshtml";

}
<div class="container-fluid">
    <div class="row mt-4">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="breadcrumb-item"><a asp-controller="User" asp-action="Index">Users</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Reset Password</li>
                </ol>
            </nav>
        </div>
    </div>

    <div class="col-md-6 offset-md-3">
        <form method="post">
            <div class="card">
                <div class="card-body">
                    <h4 class=card-title>Reset Password</h4>
                    <hr />
                    <div class="row mb-3">
                        <div class="col-6">
                            <label>Name</label>
                            <input asp-for="@Model.Name" readonly class="form-control" />
                            <span asp-validation-for="@Model.Name" class="text-danger"></span>
                        </div>
                        <div class="col-6">
                            <label>Surname</label>
                            <input asp-for="@Model.Surname" readonly class="form-control" />
                            <span asp-validation-for="@Model.Surname" class="text-danger"></span>
                        </div>
                    </div>
                  
                  
                </div>
                <input type="hidden" asp-for="@Model.Id" />
                <div class="card-footer d-flex justify-content-between">
                    <a asp-controller="User" asp-action="Index" class="btn btn-outline-danger"> Back</a>
                    <button type="submit" class="btn btn-primary">Reset</button>

                </div>
            </div>


        </form>
    </div>
</div>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
 }
