@using aspnet_boilerplate_mvc.Entities;
@model ChangePasswordModel
@{
    ViewData["Title"] = "Update User Profile";
    Layout = "~/Views/Shared/_MainLayout.cshtml";

}
<div class="container-fluid">
    <div class="row mt-4">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Change Password</li>
                </ol>
            </nav>
        </div>
    </div>

    <div class="col-md-6 offset-md-3">
        <form method="post" asp-action="ChangePassword">
            <div class="card">
                <div class="card-body">
                    <h4 class=card-title>Change Password</h4>
                    <hr />
                    <div class="row mb-3">
                        <div class="col-12">
                            @Html.LabelFor(q=>q.Password)
                            @Html.PasswordFor(m=>m.Password, new { @class="form-control"})
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                         </div>
                        </div>
                        <div class="row mb-3">
                        <div class="col-12">
                            @Html.LabelFor(q=>q.ConfirmPassword)
                            @Html.PasswordFor(m=>m.ConfirmPassword, new { @class="form-control"})
                            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })

                        </div>
                    </div>
                    
                                       

                </div>
                @Html.HiddenFor(q=>q.userId)
                <div class="card-footer d-flex justify-content-between">
                    <a asp-controller="Home" asp-action="Index" class="btn btn-outline-danger"> Back</a>
                    <button type="submit" class="btn btn-primary">Submit</button>

                </div>
            </div>


        </form>
    </div>
</div>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
 }

