@model aspnet_boilerplate_mvc.Entities.Bank

@{
    ViewData["Title"] = "Bank Details";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}

@section Breadcrumbs {
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Home</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Bank")">Banks</a></li>
            <li class="breadcrumb-item active" aria-current="page">Bank Details</li>
        </ol>
    </nav>
}

<h2>Bank Details</h2>

<div>
    <h4>Bank</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Id
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            Status
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>