@using aspnet_boilerplate_mvc.Entities;
@{
    ViewData["Title"] = "Modules";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
   
}
@model Submodule
<div class="container">
    <div class="row mt-2">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="breadcrumb-item"><a asp-controller="Module" asp-action="Index">Modules</a></li>
                    <li class="breadcrumb-item"><a asp-controller="Submodule" asp-action="Index" asp-route-id="@Model.ModuleId">Submodules</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Permissions</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-12">
            <div class="card">
                <div class="card-header">@Model.Name Permissions</div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <tr><th>Name</th><th class="text-right"><a asp-controller="Permission" asp-action="Modify" asp-route-submoduleId="@Model.Id" class="btn btn-primary"><i class="bi bi-plus"></i>Add Permission</a></th></tr>
                        </thead>
                        <tbody>
                            @if (Model.Permissions.Count > 0)
                            {
                                @foreach (var item in Model.Permissions)
                                {
                                    <tr>
                                        <td>@item.Name</td>
                                        <td class="d-flex justify-content-end">
                                            <a asp-controller="Permission" asp-action="Modify" asp-route-id="@item.Id" class="btn btn-sm btn-info"><i class="bi bi-pencil-fill"></i> Edit</a>
                                            <a asp-controller="Permission" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger mx-1"><i class="bi bi-trash-fill"></i> Delete</a>

                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr><td colspan="2" class="text-center text-danger">No records found</td></tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
